<div class="container">
    <div>
        <h2>Registrar Nuevo Miembro</h2>
        <form (ngSubmit)="registrarMiembro()" >
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="nuevoMiembro.name" name="nombre" required>
          </div>
          <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input type="text" class="form-control" id="apellido" [(ngModel)]="nuevoMiembro.lastName" name="apellido" required>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="nuevoMiembro.email" name="email" required>
          </div>
          <div class="form-group">
            <label for="telefono">Teléfono:</label>
            <input type="tel" class="form-control" id="telefono" [(ngModel)]="nuevoMiembro.phone" name="telefono" required>
          </div>
          <div class="form-group">
            <label for="empresa">Empresa:</label>
            <input type="text" class="form-control" id="empresa" [(ngModel)]="nuevoMiembro.company" name="empresa" required>
          </div>
          <hr>
          <div class="d-flex justify-content-between align-items-center"> <!-- Contenedor para los botones -->
            <div>
              <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
            <div> <!-- Contenedor para el botón adicional con el icono -->
              <button type="button" class="btn btn-outline-success" routerLink="/home">
                <i class="bi bi-house-door-fill"></i>
              </button>
            </div>
            <div>
              <button type="button" class="btn btn-warning" routerLink="/show-members">Ver miembros</button>
            </div>
          </div>
        </form>
      </div>
      
</div>
