
<div class="container">
    <div class="row mt-5">
      <div class="col-md-4"> <!-- Columna para la primera tarjeta -->
        <div class="card mb-4"> <!-- Tarjeta 1 -->
          <div class="card-body text-center">
            <h5 class="card-title">Miembros</h5>
            <hr>
            <button type="button" class="btn btn-warning" routerLink="/add-members"><i class="bi bi-person-circle"></i> Registrar Nuevo Miembro</button> 
            <hr>
            <button type="button" class="btn btn-primary" routerLink="/show-members"><i class="bi bi-person-lines-fill"></i> Ver Miembros</button>
          </div>
        </div>
      </div>
      <div class="col-md-4"> <!-- Columna para la segunda tarjeta -->
        <div class="card mb-4"> <!-- Tarjeta 2 -->
          <div class="card-body text-center">
            <h5 class="card-title">Espacios</h5>
            <hr>
            <button type="button" class="btn btn-warning" routerLink="/add-spaces"><i class="bi bi-building-fill"></i> Registrar Nuevo Espacio</button> 
            <hr>
            <button type="button" class="btn btn-primary" routerLink="/show-spaces"><i class="bi bi-building-fill-check"></i> Ver Espacios</button>
          </div>
        </div>
      </div>
      <div class="col-md-4"> <!-- Columna para la tercera tarjeta -->
        <div class="card mb-4"> <!-- Tarjeta 3 -->
          <div class="card-body text-center">
            <h5 class="card-title">Reservas</h5>
            <hr>
            <button type="button" class="btn btn-warning" routerLink="/add-bookings"><i class="bi bi-distribute-vertical"></i> Registrar Nueva Reserva</button> 
            <hr>
            <button type="button" class="btn btn-primary" routerLink="/show-bookings"><i class="bi bi-distribute-horizontal"></i> Ver Reservas</button>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
